In [4]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os

In [7]:
with open('/Users/travelingshoes/Desktop/final_project_github/Weather data/Morgan_Weather_Data.xlsx', 'r', encoding='utf-8', errors='ignore') as f:
    data = f.read()

# Read in data from CSV file
morgan_data = pd.ExcelFile("Morgan_Weather_Data.xlsx")
#morgan_data = pd.read_csv('Morgan_Weather_Data.xlsx')

# Get the sheets
morgan_data.sheet_names

['Sheet1']

In [10]:
# Get the morgan_info from the crowdfunding_info worksheet. 
morgan_info_df = pd.read_excel(morgan_data, sheet_name='Sheet1')
morgan_info_df.head()

,Date,Morgan SWE,Unnamed: 2,Hardscrabble (896) Snow Water Equivalent (in) Start of Day Values,Horse Ridge (533) Snow Water Equivalent (in) Start of Day Values,Kilfoil Creek (1145) Snow Water Equivalent (in) Start of Day Values,UTAH SWE,MorganTemp_Max (°F),MorganTemp_min (°F),MorganTemp_mean (°F),MorganPrecipitation_sum (inch),MorganRain_sum (inch),MorganSnowfall_sum (inch),MorganWindspeed_10m_max (mp/h)
0,1982-10-01,80.0,No,NaN,1.9,NaN,1.4,47.1,35.8,40.9,0.464,0.464,0.0,6.5
1,1982-10-02,80.0,No,NaN,2.2,NaN,1.4,56.4,34.9,45.7,0.000,0.000,0.0,5.6
2,1982-10-03,80.5,No,NaN,2.2,NaN,1.3,61.3,37.3,48.6,0.000,0.000,0.0,4.7
3,1982-10-04,81.0,No,NaN,1.9,NaN,1.3,64.8,41.3,51.9,0.094,0.094,0.0,9.1
4,1982-10-05,81.0,No,NaN,1.6,NaN,1.2,47.9,37.2,43.4,0.249,0.249,0.0,7.6

In [15]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs', random_state=1)
classifier

#X, y = morgan_data(centers=2, random_state=42)

#print(f"Labels: {y[:10]}")
#print(f"Data: {X[:10]}")

LogisticRegression(random_state=1)

In [11]:
# Visualizing both classes
plt.scatter(X[:, 0], X[:, 1], c=y)

LogisticRegression(random_state=1)

In [12]:
# Train the data
classifier.fit(X_train, y_train)

NameError: name 'X_train' is not defined