In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os

In [2]:
with open('/Users/travelingshoes/Desktop/final_project_github/Weather data/Morgan_Weather_Data.xlsx', 'r', encoding='utf-8', errors='ignore') as f:
    data = f.read()

# Read in data from CSV file
salt_lake_data = pd.ExcelFile("Salt_Lake_Weather_Data.xlsx")

# Get the sheets
salt_lake_data.sheet_names

['Sheet1']

In [3]:
# Get the morgan_info from the crowdfunding_info worksheet. 
salt_lake_info_df = pd.read_excel(salt_lake_data, sheet_name='Sheet1')
salt_lake_info_df.head()

,Date,Avg Salt Lake,Unnamed: 2,Atwater (1308) Snow Water Equivalent (in) Start of Day Values,Brighton (366) Snow Water Equivalent (in) Start of Day Values,Dry Fork (906) Snow Water Equivalent (in) Start of Day Values,Lookout Peak (596) Snow Water Equivalent (in) Start of Day Values,Louis Meadow (972) Snow Water Equivalent (in) Start of Day Values,Mill-D North (628) Snow Water Equivalent (in) Start of Day Values,Parleys Upper (856) Snow Water Equivalent (in) Start of Day Values,...,Salt Lake CityRain_sum (inch),Salt Lake CitySnowfall_sum (inch),Salt Lake CityWindspeed_10m_max (mp/h),SnowbirdTemp_Max (°F),SnowbirdTemp_min (°F),SnowbirdTemp_mean (°F),SnowbirdPrecipitation_sum (inch),SnowbirdRain_sum (inch),SnowbirdSnowfall_sum (inch),SnowbirdWindspeed_10m_max (mp/h)
0,1982-10-01,94.0,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.076,1.216,5.9,49.0,37.8,42.9,0.024,0.024,0.0,7.2
1,1982-10-02,94.5,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,0.000,3.6,57.0,35.7,46.2,0.000,0.000,0.0,5.5
2,1982-10-03,95.0,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,0.000,5.7,63.0,36.9,49.5,0.000,0.000,0.0,9.1
3,1982-10-04,95.0,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.052,0.000,7.8,66.9,40.5,52.6,0.063,0.063,0.0,12.6
4,1982-10-05,95.5,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.131,1.324,6.5,48.5,39.8,44.1,0.323,0.323,0.0,8.1

In [ ]:
X = df[['feature_1', 'feature_2', ...]]
y = df['target_variable']